body {
  background-color: azure;
  width: 960px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin-top: 20px;
  border: 2px solid bisque;
}

section img {
  border: 2px solid bisque;
  width: 310px;
  height: 250px;
}

main div {
  background-color: green;
  width: 100px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

main div:hover {
  cursor: pointer;
}

section img:hover {
  cursor: pointer;
}

main ul {
  /* border: 2px solid bisque; */
  width: max-content;
  margin: auto;
}

li {
  padding: 5px;
  list-style-position: inside;
  list-style-type: disc;
}